<template>
  <div class="search">
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group form-control-lg" id="placename">
          <input v-model.lazy="place" type="text" class="form-control" placeholder="Enter a city name and its country" aria-label="Enter a city name and its country" />
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" @click="onButtonClick">Search</button>
          </span>
        </div>
      </div>
    </div>
  <div>
  </div>
  <div v-if="status === OK">
    <view-weather v-bind:weather="result"></view-weather>
  </div>
  <div class="row" v-if="status === ERROR">
    <div class="col-lg-12">
      <div class="alert alert-danger" role="alert">
        Unfortunately we cannot get your data. Reason: <b>'{{ result }}'</b>
      </div>
    </div>
  </div>
  <div class="row" v-if="status === LOADING">
    <div class="col-lg-12 center">
      <img src="/static/loader.gif" />
      <br />
      Loading
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';
import ViewWeather from './ViewWeather';

const INITIAL = 0;
const LOADING = 1;
const OK      = 2;
const ERROR   = 3;

export default {
  name: 'search',
  props: ['apiKey'],
  components: {
    ViewWeather
  },
  methods: {
    lookup: function(type) {
      const self = this;
      var url = `https://api.openweathermap.org/data/2.5/weather?type=accurate&appid=${this.apiKey}&units=metric&`;

      if(type === 'city') {
        url += `q=${encodeURI(this.place)}`;
      } else {
        let lat = 66 - (Math.random() * 132);
        let lon = 90 - (Math.random() * 180);
        url += `lat=${lat}&lon=${lon}&appid=${this.apiKey}&units=metric`
      };

      this.status = LOADING;

      var cached = sessionStorage.getItem(url);

      if(cached) {
        console.log("Cache hit");

        self.result = JSON.parse(cached);
        self.result._fromCache_ = true;
        self.status = OK;
      } else {
        axios.get(url)
        .then(function(response) {
          console.log("Cache miss");
          self.result = response.data;
          self.result._fromCache_ = false;
          self.status = OK;

          if(type === 'city') {
            sessionStorage.setItem(url, JSON.stringify(response.data));
          }
        })
        .catch(function (error) {
          var response = error.response || {data: error.message};
          self.result = response.data.message || response.data;
          self.status = ERROR;
        });
      }
    },
    onButtonClick: function(event) {
      this.lookup('city');
    }
  },
  mounted: function(){
    console.log('mounted');
    this.lookup();
  },
  data() {
    return {
      INITIAL: INITIAL,
      LOADING: LOADING,
      OK: OK,
      ERROR: ERROR,
      place: '',
      result: {},
      status: INITIAL
    }
  }
}
</script>

<style scoped>
  .center {
    text-align: center;
  }
</style>
