<template>
  <div class='weather-data'>
    <div class="row">
      <div class="col-lg-12 city">
        {{ weather.name }} - {{ weather.sys.country }}
        <img v-if="weather.sys.country"
             v-bind:src="'http://www.geognos.com/api/en/countries/flag/' + weather.sys.country + '.png'"
             class="flag" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 temperature">
        {{ weather.main.temp | round }}&deg;C
        <img v-bind:src="'http://openweathermap.org/img/w/' + weather.weather[0].icon + '.png'"
             v-bind:title="weather.weather[0].main"
             class="icon" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="container">
          <div class="row">
            <div id="mapid">
              <v-map :zoom=3 v-bind:center="[this.weather.coord.lat, this.weather.coord.lon]">
                <v-tilelayer url="https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoicGJhbGR1aW5vIiwiYSI6ImNqNmVrb2k1ZTJlN3Myd2xtZXhvdTg4dmUifQ.mPSwkLinoZM3p3lxbJKi7g"></v-tilelayer>
                <v-marker v-bind:lat-lng="[this.weather.coord.lat, this.weather.coord.lon]"></v-marker>
              </v-map>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="container">
          <div class="jumbotron">
            <h1 class="display-5">Forecast</h1>
            <p class="lead">Min: {{ weather.main.temp_min | round }}&deg;C</p>
            <p class="lead">Max: {{ weather.main.temp_max | round }}&deg;C</p>
            <hr class="my-4">
            <p class="lead">Sunrise: {{ weather.sys.sunrise | utcTime }}</p>
            <p class="lead">Sunset: {{ weather.sys.sunset | utcTime }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Vue2Leaflet from 'vue2-leaflet';

export default {
  name: 'view-weather',
  components: {
    'v-map': Vue2Leaflet.Map,
    'v-tilelayer' :Vue2Leaflet.TileLayer,
    'v-marker': Vue2Leaflet.Marker
  },
  props: ['weather'],
  filters: {
    round: function (value) {
      return Math.round(value);
    },
    utcTime: function(timestamp) {
      var padZero = function(value) {
        return value < 10 ? `0${value}` : value;
      };

      if (!timestamp) return '';
      const date = new Date(timestamp * 1000);
      const hour = padZero(date.getUTCHours());
      const minute = padZero(date.getUTCMinutes());

      return `${hour}:${minute} UTC`;
    }
  }
}
</script>

<style>
  @import "~leaflet/dist/leaflet.css";

  /* it fixes a bug in the Leaflet component */
  .leaflet-default-icon-path {
  	background-image: url('/static/marker-icon.png');
	}

  .city {
    font-size: 2em;
    color: #333;
    vertical-align: middle;
  }

  .temperature {
    font-size: 4em;
    vertical-align: middle;
  }

  .icon {
    height: 1.4em;
    vertical-align: inherit;
  }

  .flag {
    height: 0.8em;
    vertical-align: inherit;
  }

  .extra-info {
    font-size: 1.5em;
  }

  #mapid {
    height: 400px;
    width: 100%;
    opacity: 1;
    position: relative;
    background-color: #333;
  }
</style>
