<template>
  <div class="app">
    <div class="white">
      <h1 class="title">KCI World Weather</h1>
    </div>

    <div class="white">
      <search v-bind:api-key="apiKey"></search>
    </div>
  </div>
</template>

<script>
import Search from './components/Search'

const API_KEY = 'b5b23370dada20b7fdf02e23d66b3441'

export default {
  name: 'app',
  data: function(){
    return {
      apiKey: API_KEY
    }
  },
  components: {
    Search
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Saira');

h1.title {
  text-align: center;
  font-family: 'Saira', sans-serif;
}

.white {
  background-color: white;
  padding: 0.5em;
  opacity: 0.9;
  margin-top: 1.5em;
}
</style>
